body {
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
}

.body {
    margin: 5% 30%;
}

.center {
    margin: 0px 10% 0px 10%;
}